@model Application.ViewModels.ApplicationUserViewModel

@{
    ViewData["Title"] = "Edit Patient";
}

@if (ViewBag.error != null)
{
    <div class="alert alert-info" role="alert">
        Patient not found. Please select a different patient.
    </div>

    <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="Patients">Go back</a>
}
else
{
    <h2>Edit details of @Model.FirstName @Model.LastName</h2>
    <hr />

    <div class="container">
        <form method="post">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.FirstName)</label>
                <div class="col-sm-10">
                    <input asp-for="FirstName" class="form-control" value="@Model.FirstName">
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.LastName)</label>
                <div class="col-sm-10">
                    <input asp-for="LastName" class="form-control" value="@Model.LastName">
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.DateOfBirth)</label>
                <div class="col-sm-10">
                    <input asp-for="DateOfBirth" type="text" class="form-control" value="@Model.DateOfBirth.ToString("dd-MM-yyyy")">
                </div>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.PhoneNumber)</label>
                <div class="col-sm-10">
                    <input asp-for="PhoneNumber" class="form-control" value="@Model.PhoneNumber">
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.StreetNameAndNumber)</label>
                <div class="col-sm-10">
                    <input asp-for="StreetNameAndNumber" class="form-control" value="@Model.StreetNameAndNumber">
                </div>
                <span asp-validation-for="StreetNameAndNumber" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.City)</label>
                <div class="col-sm-10">
                    <input asp-for="City" class="form-control" value="@Model.City">
                </div>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.PostalCode)</label>
                <div class="col-sm-10">
                    <input asp-for="PostalCode" class="form-control" value="@Model.PostalCode">
                </div>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.Country)</label>
                <div class="col-sm-10">
                    <input asp-for="Country" class="form-control" value="@Model.Country">
                </div>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.EmergencyDetails.EmergencyName)</label>
                <div class="col-sm-10">
                    <input asp-for="EmergencyDetails.EmergencyName" class="form-control" value="@Model.EmergencyDetails.EmergencyName">
                </div>
                <span asp-validation-for="EmergencyDetails.EmergencyName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.EmergencyDetails.PhoneNumber)</label>
                <div class="col-sm-10">
                    <input asp-for="EmergencyDetails.PhoneNumber" class="form-control" value="@Model.EmergencyDetails.PhoneNumber">
                </div>
                <span asp-validation-for="EmergencyDetails.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.InsuranceDetails.Provider)</label>
                <div class="col-sm-10">
                    <input asp-for="InsuranceDetails.Provider" class="form-control" value="@Model.InsuranceDetails.Provider">
                </div>
                <span asp-validation-for="InsuranceDetails.Provider" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.InsuranceDetails.PolicyNumber)</label>
                <div class="col-sm-10">
                    <input asp-for="InsuranceDetails.PolicyNumber" class="form-control" value="@Model.InsuranceDetails.PolicyNumber">
                </div>
                <span asp-validation-for="InsuranceDetails.PolicyNumber" class="text-danger"></span>
            </div>
            <br />
            <a class="btn btn-primary me-3" asp-area="" asp-controller="Admin" asp-action="Patients">Go back</a>
            <button type="submit" class="btn btn-success">Save changes</button>
        </form>
    </div>
}
